body {
    background-color: #0065f1;
    padding: 0px;
}

section {
    display: inline-block;
}

.portrett {
    width: 300px; 
    border-radius: 10px;
}

.portrett:hover {
    transform: scale(1.1);
    transition: transform 0.5s;    
}

header {
    text-align: center;    
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
}

main {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    background-color: #468aebbe;
    border-radius: 10px;
    padding: 10px;
}

article {
    width: 80%;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.1em;
    background-color: #468aebbe;
    border-radius: 10px;
    padding: 10px;
}

footer {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6em;
    background-color: #468aebbe;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    width: 80%;
    margin: auto;    
}

ul {
    display: table;
    margin: 0 auto;
}

li {
    padding: 10px;
    font-size: 1.1em;
}

a {
    color: rgba(77, 66, 66, 0.774);   
}

a:visited {
    color: rgba(207, 202, 202, 0.774);   
}